Repository davekpatrick/hashicorp-learn-vault, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, git, workflow, code, documentation

.github/labeler.yml:

# BOF
# Add 'repo' label to any root file changes
repo:
- '*'
# 
git:
- any: ['**/.gitignore']
#
workflow:
- any: ['.github/**/*']
#
code:
- any: ['terraform/**/*']
#
documentation:
- any: ['**/*.md']

...
# EOF

bender team std setup
  terraform/main.tf
Labels: code

Managed by Terraform
  .gitignore
Labels: repo, git

hello world go example
  go/.gitignore
  go/go.mod
  go/main.go
  go/main_test.go
Labels: git

update env. var names
  go/main.go
Labels: none

list paths withing secret engine
  go/main.go
Labels: none
